BBPS_API_KEY=
BBPS_API_SECRET=
BBPS_BASE_URL=
BBPS_PROVIDER=
FIREBASE_API_KEY=
GEMINI_API_KEY=
PHONEPE_CLIENT_ID=
PHONEPE_CLIENT_SECRET=
PHONEPE_CLIENT_VERSION=
PHONEPE_ENV=
PHONEPE_MERCHANT_ID=
PHONEPE_MERCHANT_NAME=
PHONEPE_MERCHANT_VPA=
PHONEPE_PROVIDER_ID=
PHONEPE_SALT_INDEX=
PHONEPE_SALT_KEY=
PHONEPE_WEBHOOK_URL=
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_MEASUREMENT_ID=
